                <div class="col-md-2 col-sm-12 col-xs-12 well">
                   <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/dashboard">Dashboard</a>
                    </li>   
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/listings">Listings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/queries">Queries</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/clientqueries">Client Queries</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/addarticle">Add Article</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/uploadimage">Upload Image</a>
                    </li>
                    </ul>
                </div>  