           <aside> 
              <div class="inner-box">
                <div class="widget-title">
                  <h4>Advertisement</h4>
                </div>
                <img src="assets/img/img1.jpg" alt="">
              </div>
              <div class="inner-box">
                <div class="widget-title">
                  <h4>Related Categories</h4>
                </div>
                <div class="categories-list">
                    <ul>
                      <li>
                        <a href="#">
                          <i class="fa fa-desktop"></i>
                          Electronics <span class="category-counter">(9)</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-desktop"></i>
                          Electronics <span class="category-counter">(9)</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="fa fa-desktop"></i>
                          Electronics <span class="category-counter">(9)</span>
                        </a>
                      </li>
                    </ul>
                </div>
              </div>
            </aside>