{{> header}}
    <!-- content section start-->
      <section>
      <div class="wrapper">
        <!-- Categories Homepage Section Start -->
        <section id="categories-homepage">
          <div class="container">
            <div class="row">
                <h1 class="section-title mb10 ml10">404 Page not Found !</h1>
                <div class="col-md-8 col-sm-12 col-xs-12 well">
                <img src="assets/images/404.png" class="media-object mb10" style="max-width:100%">
                <div class="row mt10">
                  <div class="col-md-2 col-md-offset-4 mt10">
                  <a class="btn btn-danger animated infinite pulse" href="/"><span class="fa fa-home"></span> Let's get back to Home Page.</a>
                  </div>
                </div>
                </div>

                <div class="col-md-4 col-sm-12 col-xs-12">
                  {{> sidebar}}
                </div>
            </div>
            </div>
      </div>
      </section>
      <!-- Content Section End -->
      


    </div>

  {{> counter}}
  {{> footer}}