{{> header}}
    <!-- content section start-->
      <section>
      <div class="wrapper">
        <!-- Categories Homepage Section Start -->
        <section id="categories-homepage">
          <div class="container">
            <div class="row">
                <h1 class="section-title mb10 ml10">About 99nearme.com</h1>
                <div class="col-md-8 col-sm-12 col-xs-12 well">
                  <p class="mt10">
                    99nearme is india's largest online marketplace, connecting buyers with suppliers. 99nearme's search service fills the gap between the users and businesses by helping users find relevant suppliers of products and services quickly at near by places, while we help 99nearme listed businesses to market their offerings.
                  </p>
                  <p class="mt10 mb10">
                    99nearme is a business oriented articles, small business listings with their informations. We provide to users to search local business around their cities, states. Small business owners can add their business on this site.</p>


                  <p class="mt10 mb10">We provide best service to our users that they can search companies with according to appropriate categories and make a requirment enquiry to business owner. We also have listed educational stuffs like schools near users cities. Parents can find nearest school for their wards. We post educational articles for our users.</p>


                  <p class="mt10 mb10">99nearme gives you a lot of information clearly and in a few words which can be used directly.</p>


                  <p class="mt10 mb10">The motive is behind build of 99nearme is providing quality business articles, latest market updates and fill the gap between users and small business owners because most businesses do not have a website and traffic to grow their business and complete business requirment.</p>

                  <p class="mt10 mb10"></p>
                  <p class="mt10">Contact us for any queries. Email: 99nearme@gmail.com</p>


Happy Finding on 99nearme !!


                  </p>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                  {{> sidebar}}
                </div>
            </div>
            </div>
      </div>
      </section>
      <!-- Content Section End -->
      


    </div>

  {{> counter}}
  {{> footer}}