{{> header}}
    <!-- content section start-->
      <section>
      <div class="wrapper">
        <!-- Categories Homepage Section Start -->
        <section id="categories-homepage">
          <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12 col-xs-12 well">
                        <h1 class="section-title mb10 ml10 showbold">Article Title</h1>
                        <img src="assets/images/150x150.png" class="media-object" style="max-width:600px">
                          
                        <p>Lorem ipsum Lorem ipsum...Lorem ipsum...Lorem ipsum...Lorem ipsum...Lorem ipsum...Lorem ipsum...Lorem ipsum...Lorem ipsum...Lorem ipsum...Lorem ipsum...Lorem ipsum...Lorem ipsum...</p>                        
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                  {{> sidebar}}
                </div>
            </div>
            </div>
      </div>
      </section>
      <!-- Content Section End -->
      


    </div>

  {{!-- {{> counter}} --}}
  {{> footer}}