{{> header}}
    <!-- content section start-->
      <section>
      <div class="wrapper">
        <!-- Categories Homepage Section Start -->
        <section id="categories-homepage">
          <div class="container">
            <div class="row">
                <h3 class="section-title mb10 ml10">Business Listing</h3>
                <div class="col-md-8 col-sm-12 col-xs-12">
                        <div class="row">
                          <div class="col-md-12 well">
                              <!-- Media top -->
                              <div class="media">
                                <div class="media-left media-top">
                                  <a href="#">
                                  <img src="assets/images/150x150.png" class="media-object" style="max-width:60px">
                                  </a>
                                </div>
                                <div class="media-body">
                                  <a href="#">
                                  <h4 class="media-heading">Business Title</h4>
                                  <p>View Detail <i class="fa fa-arrow-circle-right fa-lg"></i></p>
                                  </a>
                                </div>
                              </div>
                              <!-- Media top -->
                              <div class="media">
                                <div class="media-left media-top">
                                  <a href="#">
                                  <img src="assets/images/150x150.png" class="media-object" style="max-width:60px">
                                  </a>
                                </div>
                                <div class="media-body">
                                  <a href="#">
                                  <h4 class="media-heading">Business Title</h4>
                                  <p>View Detail <i class="fa fa-arrow-circle-right fa-lg"></i></p>
                                  </a>
                                </div>
                              </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <nav aria-label="...">
                              <ul class="pagination">
                                <li class="page-item disabled">
                                  <a class="page-link" href="#" tabindex="-1">Previous</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item active">
                                  <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                <li class="page-item"><a class="page-link" href="#">5</a></li>
                                <li class="page-item"><a class="page-link" href="#">6</a></li>
                                <li class="page-item"><a class="page-link" href="#">7</a></li>
                                <li class="page-item"><a class="page-link" href="#">8</a></li>
                                <li class="page-item"><a class="page-link" href="#">9</a></li>
                                <li class="page-item"><a class="page-link" href="#">10</a></li>
                                <li class="page-item">
                                  <a class="page-link" href="#">Next</a>
                                </li>
                              </ul>
                            </nav>
                          </div>
                        </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                  {{> sidebar}}
                </div>
            </div>
            </div>
      </div>
      </section>
      <!-- Content Section End -->
      


    </div>

  {{> counter}}
  {{> footer}}