{{> header}}
    <!-- content section start-->
      <section>
      <div class="wrapper">
        <!-- Categories Homepage Section Start -->
        <section id="categories-homepage">
          <div class="container">
            <div class="row">
                <h1 class="section-title mb10 ml10 showbold">Disclaimer</h1>
                <div class="col-md-8 col-sm-12 col-xs-12 well">
                                  
                    <p>The data, information, listed companies contacts, data, addresses of 99nearme.com are for general information purposes only. 99nearme.com tries to provide Information/Content/Services that is correct and accurate however. 99nearme.com makes no guarantee, nor does 99 Nearme take any responsibility for the Content including its quality, copyright compliance or legality, or any resulting loss or damage. The visitors of 99 Nearme assume all risk and responsibility for the use of services provided by 99 Nearme and the internet in general.</p> 

                    <h4 class="extra-subheading">Information Collected</h4>

                    <p>99nearme.com assumes no responsibility for information contained on this Web site and disclaims all liability in respect of such information. In addition, none of 99nearme.com's content will form any part of any contract between us or constitute any type of offer by 99nearme.com. 99nearme.com accepts no responsibility for and excludes all liability in connection with browsing this Web site, use of information, companies contacts, address any materials from it, including but not limited to any liability for bugs, inaccuracies, omissions, or misleading or defamatory statements. The information at this Web site might include opinions or views which, unless expressly stated otherwise, are not necessarily those of 99nearme.com or any listed company or any individual in relation to whom they would have any responsibility. All content and information at 99nearme.com might be changed or updated without notice. This Web site are provided “as is” and 99nearme.com expressly disclaims any and all warranties, express or implied, to the extent permitted by law, including but not limited to warranties of satisfactory quality, merchantability, or fitness for a particular purpose, with respect to the service or any materials. </p>

                    <h4 class="extra-subheading"> for Links to External, Third Party Web Sites</h4>

                    <p>Links to external, or third party Web sites urls, are provided solely for visitors' convenience and information. Links taken to other sites or added by other visitors, vendor is done so at your own risk and 99nearme.com accepts no liability for any linked sites or their content. Any link from 99nearme.com to an external Web site does not indirect, or means that 99nearme.com endorses or accepts any responsibility for the content or the use of such Web site. 99nearme.com does not give any representation regarding the quality, safety, suitability, or reliability of any external Web sites or any of the content or materials contained in them.</p>

                    <h4 class="extra-subheading">Content and Links Disclaimer</h4>

                    <p>99nearme.com pursue to ensure that all content, contacts, address and information published at this Web site is current and accurate. The information at 99nearme.com does not in any way constitute legal or professional advice and 99nearme.com cannot be held responsible for actions arising from its use. In extra, 99nearme.com cannot be held responsible for the contents of any externally linked pages. </p>

                    <h4 class="extra-subheading">Your Information on 99 Nearme</h4>

                    <p>User’s information on 99nearme.com may be incorrect or incomplete, it is possible that you do not wish to publish your information.If any user creating their own account with their correct information, we will keep their information safe and will publish with their business profit. In all such cases please contact us at info@99nearme.com. Give us your request and we will comply immediately. </p>

                    <h4 class="extra-subheading">Contacting 99nearme.com</h4>

                    <p>If you have any query, complain, message about our privacy policy or anything related to your privacy on our service, we'd like to hear from you. Please email us at 99nearme@gmail.com</p>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                  {{> sidebar}}
                </div>
            </div>
            </div>
      </div>
      </section>
      <!-- Content Section End -->
      


    </div>

  {{!-- {{> counter}} --}}
  {{> footer}}