{{> header}}
    <!-- content section start-->
      <section>
      <div class="wrapper">
        <!-- Categories Homepage Section Start -->
        <section id="categories-homepage">
          <div class="container">
            <div class="row">
                <h1 class="section-title mb10 ml10">Privacy Policy</h1>
                <div class="col-md-8 col-sm-12 col-xs-12 well">
                        <p>99nearme know your concern about the personal information you submit on our website and our responsibility to save, protect your privacy.</p>

                        <p>This page specify every aspect of the Privacy Policy to you. User visit and activities undertaken on our site will be governed by the following policy. This policy provides the action your data is collected and used by 99nearme.com. You are advised to please read the policy.</p>

                        <p>By accessing the services provided by 99nearme.com, you agree to the collection and use of your data by 99nearme.com. We have the right to add, modify, delete or change the contents, information of this privacy policy as may be felt necessary by us.</p>

                        <p>When user surfing our website or contribute content such as ratings, comments, testimonials, we also automatically receive your computer's internet protocol (IP) address in order to provide us with information that helps us learn about your browser and operating system.</p>

                        <h4 class="extra-subheading">CONSENT</h4>

                        <h5 class="extra-subheading">How do you get my consent?</h5>

                        <p>When you provide us with personal information to complete a transaction, verify your credit card, place an order, arrange for a delivery or return a purchase, we imply that you agree to our collecting it and using it for that specific reason only.</p>

                        <h4 class="extra-subheading">DISCLOSURE</h4>

                        <p>99nearme.com may disclose your personal information if we are required by law to do so or if you violate our Terms of Service.</p>

                        <h4 class="extra-subheading">SECURITY</h4>

                        <p>To protect your personal information, we take reasonable provision and follow industry best practices to make sure it is not inappropriately lost, misused, accessed, disclosed, altered or destroyed.</p>

                        <h4 class="extra-subheading">COOKIES</h4>

                        <p>We use cookies to maintain session of your user data. It is not used to personally identify you on other websites.</p>

                        <h4 class="extra-subheading">CHANGES TO THIS PRIVACY POLICY</h4>

                        <p>99nearme have the right to modify this privacy policy at any time, so please review it frequently. Changes and clarifications will take effect immediately upon their posting on the website. If we make material changes to this policy, we will notify you here that it has been updated, so that you are aware of what information we collect, how we use it, and under what circumstances, if any, we use and/or disclose it.</p>

                        <p>If our website is acquired or merged with another company, your information may be transferred to the new owners so that we may continue to sell products to you.</p>

                        <h4 class="extra-subheading"> AND CONTACT INFORMATION</h4>

                        <p>If you would like to: access, correct, amend or delete any personal information we have about you, register a complaint, or simply want more information contact our Privacy Compliance Officer at at 99nearme@gmail.com.</p>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                  {{> sidebar}}
                </div>
            </div>
            </div>
      </div>
      </section>
      <!-- Content Section End -->
      


    </div>

  {{> counter}}
  {{> footer}}