{{> header}}
    <!-- content section start-->
      <section>
      <div class="wrapper">
        <!-- Categories Homepage Section Start -->
        <section id="categories-homepage">
          <div class="container">
            <div class="row">
                <h1 class="section-title mb10 ml10">Refund Policy</h1>
                <div class="col-md-8 col-sm-12 col-xs-12 well">
                        <h5 class="extra-subheading">Cancellation and Refund Policy</h5>

                        <p>If you disaffection from our services, data, information, vendors have the independence to cancel their projects and request a refund from vendors.</p>

                        <p>Our Policy for the cancellation and refund will be as follows: </p>

                        <h5 class="extra-subheading">Cancellation Policy</h5>

                        <p>All schemes, campaigns on 99Nearme.com are managed by the customers/vendors. He/She can cancel/stop his campaigns at any time. Money will revert immediately to the 99 Near me bank account. He can resume any new campaign/service with that amount at any time.</p>


                        <h5 class="extra-subheading">Refund Policy</h5>

                        <p>99 Near me will try their best to manage the suitable design concepts for our vendors and customers. Money will stay in the 99 Near me bank for at least 30 days. The client/customers/vendors can reuse any campaign/service during that time period. Vendors can start a new service. If vendors/customers, after 30 days, he is not satisfied he can claim the refund of remaining account by sending an email on 99Nearme@gmail.com. A user can not have multiple accounts on 99 Near me, he can add multiple businesses/service in one account. 99 Near me hold the right to block any account any time if account is found ineffective with 99 Near me in any manner or activity. If account is disabled, User will not be eligible for further participation in the 99 Near me advertisement/service providing. You are requested to visit often on 99Nearme.com for new updates and changes.</p>

                        <p>Note : Refund only applies for all "Prime Listing Advertisements" and not other type of advertisements like images, texts, classified ads etc.</p>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                  {{> sidebar}}
                </div>
            </div>
            </div>
      </div>
      </section>
      <!-- Content Section End -->
      


    </div>

  {{> counter}}
  {{> footer}}