{{> header}}
    <!-- content section start-->
      <section>
      <div class="wrapper">
        <!-- Categories Homepage Section Start -->
        <section id="categories-homepage">
          <div class="container">
            <div class="row">
                <h1 class="section-title mb10 ml10 showbold">Terms &amp; Conditions</h1>
                <div class="col-md-8 col-sm-12 col-xs-12 well">
                  <p>PLEASE READ, UNDERSTAND AND ACCEPT THESE TERMS OF USE BEFORE USING THIS SITE. </p>

                    <p>Any complaints or grievances regarding the use or information posted on this Site, may be sent to 99nearme@gmail.com</p>

                    <h4 class="extra-subheading">User New Account:</h4>

                    <p>By creating account, you ensure that all information you registered is accurate and valid.</p>

                    <p>99Nearme.com secure the rights, in its sole care, to stop user access to this website or any portion thereof without notice for the following reasons (a) immediately by 99Nearme.com for any unauthorized access or use by you (b) immediately by 99Nearme.com if you assign or transfer (or attempt the same) any rights granted to you under this Agreement; (c) immediately, if you violate any of the other terms and conditions of this User Agreement.</p>

                    <h4 class="extra-subheading">LICENSE:</h4>

                    <p>99Nearme.com allow user a limited, not restricted to the user, non-transferable license to access 99Nearme.com provided and expressly conditioned upon your agreement that all such access and use shall be governed by all of the terms and conditions set forth in this USER AGREEMENT.</p>

                    <h4 class="extra-subheading">COPYRIGHT &amp; NO RETRANSMISSION OF INFORMATION :</h4>
                    <p>99Nearme.com as well as the design and information contained in this site is the valuable, exclusive stuff of 99Nearme.com, and nothing in this Agreement shall be recognize as transferring or assigning any such ownership rights to you or any other person or entity.</p>

                    <p>You may not resell, transmit, relay, air, beam, send/put out, put on the air/airwaves, show, screen, televise, telecast, videocast, podcast, live-stream or transfer information, software and applications or use the information, software and applications provided by 99Nearme.com in a searchable, machine-readable database unless separately and specifically authorized in writing by 99Nearme.com prior to such use. You may not rent, lease, sublicense, distribute, transfer, copy, reproduce, publicly display, publish, adapt, store or time-share 99Nearme.com, any part thereof, or any of the software, application or information received or accessed there from to or through any other person or entity unless separately and specifically authorized in writing by 99Nearme.com prior to such use. In addition, you may not delete, alter or unclear any copyright, legal or proprietary notices in or on any portions of 99Nearme.com without prior written authorization.</p>

                    <h4 class="extra-subheading">CONTENT DISCLAIMER:</h4>

                    <p>99Nearme.com cannot be hold responsible for the correctness of information displayed on the website. 99 Nearme does not claim any guarantee. 99Nearme.com communicates information provided and created by advertisers, content partners, software developers, publishers, marketing agents, employees, users, resellers and other third parties. While every attempt has been made to ascertain the originality of the content on the Platforms 99Nearme.com has no control over content, the accuracy of such content, integrity or quality of such content and the information on our pages, and material on the Platforms may include technical inaccuracies or typographical errors, and we make no guarantees, nor can we be responsible for any such information, including its authenticity, currency, content, quality, copyright compliance or legality, or any other intellectual property rights compliance, or any resulting loss or damage. Further, we are not liable for any kind of damages, losses or action arising directly or indirectly due to any content, including any errors or omissions in any content, access and/or use of the content on the Platforms or any of them including but not limited to content based decisions resulting in loss of data, revenue, profits, property, infection by viruses etc. 99Nearme.com have the right, in its sole caution and without any duty, to make improvements to, or correct any error or omissions in, any portion of the Platforms. Where appropriate, we will endeavor to update information listed on the Website on a timely basis, but shall not be liable for any inaccuracies.</p>
                    
                    <h4 class="extra-subheading">LINKS TO THIRD PARTY SITES:</h4>

                    <p>The links in this site will allow you to leave 99Nearme.com the linked sites are not under the control of 99Nearme.com. 99Nearme.com has neither reviewed, nor published these sites and is not responsible for the contents or omissions of any linked site or any links contained in a linked site. The inclusion of any linked site does not imply endorsement by 99Nearme.com of the site.</p>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                  {{> sidebar}}
                </div>
            </div>
            </div>
      </div>
      </section>
      <!-- Content Section End -->
      


    </div>

  {{!-- {{> counter}} --}}
  {{> footer}}